{% extends "badmin.htm" %}
{% block title %}Agregar Vehículo{% endblock title %}

{% block body %}
<div class="container mt-4">
    <h2 class="alert alert-danger text-center">Agregar Vehículo</h2>
    <form>
        <div class="mb-3">
            <label class="form-label">Marca</label>
            <input type="text" class="form-control" placeholder="Ej: Toyota">
        </div>
        <div class="mb-3">
            <label class="form-label">Modelo</label>
            <input type="text" class="form-control" placeholder="Ej: Corolla 2024">
        </div>
        <div class="mb-3">
            <label class="form-label">Precio por día</label>
            <input type="number" class="form-control" placeholder="Ej: 50.00">
        </div>
        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control"></textarea>
        </div>
        <button class="btn btn-success">Agregar Vehículo</button>
    </form>
</div>
{% endblock %}
